@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
:root {
  --primary-color: #7c3aed;
}
body {
  font-family: "Montserrat", sans-serif;
  min-width: 100vw;
} /* Container */
.container {
  margin: 4rem auto 7rem;
  text-align: center;
}
.heading {
  color: var(--primary-color);
}
.description {
  font-size: larger;
  margin: 1rem;
}
.input-label {
  display: block;
  font-size: large;
  font-weight: 600;
}
.input {
  font-size: 14px;
  outline: #fff;
  padding: 0.6rem 1rem;
  margin: 1rem;
  border: 2px solid var(--primary-color);
  border-radius: 0.5rem;
  width: 100%;
  max-width: 258px;
}
#check-button {
  background: var(--primary-color);
  border: none;
  color: #fff;
  padding: 0.7rem 1rem;
  border-radius: 0.5rem;
  font-size: large;
  cursor: pointer;
  outline: #fff;
  margin: auto;
  display: block;
}
#error-message {
  display: block;
  font-size: larger;
  margin: 1rem 0 0;
} /* Table */
.change-table {
  width: 50%;
  text-align: justify;
  border-collapse: collapse;
  margin: auto;
}
.change-table caption {
  margin: 1rem auto;
  font-size: x-large;
  font-weight: 500;
}
th,
td {
  border: 2px solid var(--primary-color);
  width: 0%;
  border-collapse: collapse;
  padding: 0.4rem;
} /* footer */
footer {
  text-align: center;
}
footer p {
  font-size: large;
  text-align: center;
}
.footer-list {
  margin: 1rem;
}
a,
img,
li {
  display: inline;
}
img {
  width: 40px;
  padding: 0.2rem;
}
